.search {
  width: 100%;
  margin-bottom: 30px;
  padding-top: 30px;
}

.search-box {
  width: 200px;
  border-radius: 20px;
  padding: 6px;
  text-align: center;
  border-width: 0px;
  height: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
